@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
:root{
--light-blue :  #8FA6CD;
--dark-blue : #413F6C;
--light-pink : #FFDDD2;
--dark-pink : #E3928B;
--bg-txt : #EDE8DA; 
}

body{
  margin: 0;
  padding: 0;
}

.container{
  margin: 0;
  padding: 0;
}

/* Création de la NAVBAR */
.navbar{
  opacity: 1; 
  background: #FFF;
}

.navbar-brand{
  color: var(--dark-blue)!important;
}

.nav-link{
  color: var(--dark-blue)!important;
}

.nav-link:hover{
  color: var(--dark-pink)!important;
}

.logo_img{
  width: 70px;
}
/* Fin de la NAVBAR */


/* Création du HEADER */
.header{
  display: flex;
  flex-direction: row;
  background: var(--light-blue);
  width: 100%;
  height: 40vw;
}

.header_txt{
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header_h1{
  font-family: 'Pacifico';
  font-size: 7vw;
  color: var(--dark-blue);
}

.header_h2{
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  color: var(--bg-txt);
}

.header_img{
  display: flex;
  align-items: center;
  width: 35vw;
  height: 35vw;
  margin: auto;
}

@media(max-width: 576px){
  .header{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 80vw;
  }
  
  .header_txt{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .header_h1{
    font-size: 7vw;
    margin-top: 15px;
  }
  
  .header_h2{
    font-size: 5vw;

  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 40vw;
    height: 40vw;
    margin: auto;
  }
  
}
@media(min-width: 576px) and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38vw;
  }
  
  .header_txt{
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 6vw;
  }
  
  .header_h2{
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto 50px auto 100px;
  }
  
}
@media(min-width: 768px) and (max-width: 992px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 7vw;
  }
  
  .header_h2{
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
  }
  
}
@media(min-width : 992px) and (max-width: 1200px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 8vw;
  }
  
  .header_h2{
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
  }
  
}
/* Fin du HEADER */


/* Création de la partie BODY */
/* Fin de la partie BODY */

/* Création de la partie PRESENTATION */
.bloc_about{
  top: -2vw;
  margin: 0 auto;
  width: 500px;
}

.presentation{
  width: 500px;
  font-family: 'Roboto';
}


@media (max-width: 576px){
  .bloc_about {
    top: -2vw;
    width: 100%;
  }
  
  .presentation{
    width: 100%;
  } 
}

@media (min-width: 576px) and (max-width: 768px){
  .bloc_about {
    top: -1vw;
    margin: 0 auto;
    width: 500px;
  }
}


/* Fin de la partie PRESENTATION */


/* Création de la partie COMPETENCES */


.skill{
  position: relative;
  top: 150px;
}

.skills_h3{
  justify-content: center;
  margin: 80px auto 90px auto;
  width: auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-pink);
}

.carousel_skills{
  display: none;
}

.cards_skills{
  display: flex;
}

.skills{
  background-color: var(--light-pink);
  box-shadow: 5px 5px 5px var(--bg-txt);
  margin-right: 3rem ;
  margin-left: 3rem ;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.skills:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 14px;
  transition-timing-function: ease-in-out;
  transition-property: right;
  transition-duration: 0.3s;
}

.skill_img{
  width: 80%;
  margin: 10px auto;
}

.skills_detail{
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
}

.logo_skills{
  width: 50px;
}

.img_competence{
  display: flex;
  margin: -20px auto;
}

@media (max-width: 576px){
  .skill{
    position: relative;
    top: 300px;
  }

  .skills{
    margin: auto;
    width: 75%;
  }
  
  .cards_skills{
    display: none;
  }

  .carousel_skills{
    display: block;
  }

  .img_competence{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .skill{
    position: relative;
  }

  .skills{
    margin: auto;
    width: 75%;
  }
  

  .cards_skills{
    display: none;
  }

  .carousel_skills{
    display: flex;
  }

  .img_competence{
    display: none;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .skills{
    margin-right: .5rem ;
    margin-left: .5rem ;
  }

  .cards_skills{
    display: flex;
  }

  .carousel_skills{
    display: none;
  }

  .img_competence{
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .skills{
    margin-right: 1rem ;
    margin-left: 1rem ;
  }

  .cards_skills{
    display: flex;
  }

  .carousel_skills{
    display: none;
  }
} 
/* Fin de la partie COMPETENCES */


/*Création de la partie loeading skills*/
.skill_load {
  height: 20px;
  position: absolute;
  top: 12px;
  left: 90px;
  right: 0;
  bottom: 0;
  list-style: none;
  padding: 0;
}

.start{
  display: block;
  float: left;
  height: 10px;
  background: var(--dark-blue);
  box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
    0px 0px 20px rgba(117, 182, 214, 0.5);
}

.debutant{
  width: 30%;
}

.intermediaire{
  width: 50%;
}

.maitrise{
  width: 70%;
}

.loisir{
  width: 70%;
}

.passion{
  width: 90%;
}

h5 {
  color: white;
}
/*Fin de la partie loeading skills*/










.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box_ {
  width: 350px;
  height: 400px;
  background-color: var(--light-pink);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--light-pink), -1px -1px 5px var(--light-pink);
  transition: 0.3s;
  margin: 30px;
}

.box_:hover {
  box-shadow: 0px 5px 10px 2px var(--dark-blue);
  transition: 0.3s;
  transform: scale(1.2);
}

.box_ img {
  width: 350px;
  height: 400px;
  transition: 0.3s;
}

.box_:hover img {
  transform: scale(1.3);
  transition: 0.3s;
  filter: blur(3px);
}

.box_ p {
  position: relative;
  color: var(--light-pink);
  z-index: 20;
  text-align: center;
  top: 0px;
  border-radius: 5px;
  padding: 20px 10px;
  font-weight: 300;
  width: 350px;
  height: 400px;
  display: inline-flex;
  background-color: rgba(65, 63, 108, 0.8);
  align-items: flex-end;
  flex-wrap: wrap;
}

.box_:hover p {
  animation: toTop 0.3s both;
}

.box_ button{
margin: 0 auto;
}


@keyframes toTop {
  0% {
      top: 0px;
  }
  100% {
      top: -404px;
  }
}























/* Création de la partie DOWNLOAD CV */
.download {
  width: 30%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}

.btn{
  margin: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-weight: 600;
  color: var(--dark-blue);
  text-transform: uppercase;
  padding: 15px 2em;
  background: var(--light-pink);
  border: 2px solid var(--dark-blue);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--light-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: var(--dark-pink);
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.5em, -1em);
}

@media (max-width: 576px){
  .download{
    margin-top: 360px;
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .download{
    margin-top: 300px;
    width: 50%;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .download{
    margin-top: 250px;
    width: 40%;
  }
}

/* Fin de la partie DOWNLOAD CV */

/* Création de la partie PROJETS */
.projets{
  background-image: url("/images/bg_bulles.png");
  height: 990px;
  z-index: -1;  
}

.projets_h3 {
  position: relative;
  text-align: center;
  margin: 45px auto 100px auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-pink);
}

.carousel_row {
  width: 100%;
  padding: 20px;
}

.carousel-caption {
  background-color: rgba(108, 117, 125, .5);
}

.lien_projet {
  width: 146px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}


.projet2 {
  flex-direction: row;
  height: 250px;
  width: 600px;
}

.slide_projet2 {
  height: 40px;
  width: 800px;        
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}

.projet3{
  flex-direction: row;
  height: 250px;
  width: 600px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.slide_projet3{
  height: 40px;
  width: 800px;
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width: 576px){
  .slide_projet1{
    display: contents;
  }

  .carousel_row{
    flex-direction: column;
  }

  
  .projet2{
    flex-direction: column;
  }

  .projet3{
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .slide_projet1{
    display: contents;
  }
  
  .carousel_row{
    flex-direction: column;
  }

  .projet2{
    flex-direction: column;
  }

  .projet3{
    flex-direction: column;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .slide_projet1{
    display: contents;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .slide_projet1{
    display: contents;
  }

  .lien_projet{
    width: 60px;
    margin-top: 170px;
    height: 125px;
  }
} 


/* Fin de la partie PROJETS */

/* Création de la partie CONTACT */
.contact{
  width: 80%;
  margin: auto;
}

.contact_lien{
  background: var(--light-pink);
}

.contact_h3 {
  position: relative;
  text-align: center;
  margin: 100px auto 100px auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-pink);
}

.ctc_icon, fas{
  color: var(--dark-blue);
}

.contact_dtl{
  color: var(--dark-blue)
}

.contact_map{
  box-shadow: 3px 3px 15px var(--dark-pink);
}

/* Fin de la partie CONTACT */

/* Création du FORM */
.formulaire{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
}
  
.formulaire_ttl {
  color: var(--light-blue);
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}
  

.modal-dialog{
  max-width: 1200px!important;
}

.form-control {
  width: 600px;
  margin-bottom: 2rem;
  padding: 2.2rem;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  border: 2px solid transparent;
  font-family: Verdana, Arial, sans-serif;
}

.form-control::placeholder {
  color: #9da1a5;
  font-weight: bold;
}

.message {
  resize: vertical;
  min-height: 15rem;
  height: 200px;
  width: 800px;
}

.form-control:focus,
.message:focus {
  outline: none;
  border: 2px solid var(--accent);
}

@media (min-width: 700px) {
  form {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .form-control {
    width: auto;
    margin: 0;
  }

  .message {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
/* Fin du FORM */


/* Création de la partie FOOTER */
.site-footer {
  position: relative;
  background-color: var(--dark-blue);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--bg-txt);
}

.bg_logo{
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 333px;
  background-image: url("/images/bg_logo.png");
  background-size: contain;
  z-index: -1;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: var(--light-blue);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: var(--bg-txt);
}

.site-footer a:hover {
  color: var(--dark-pink);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: var(--light-blue)
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--light-pink);
  color: var(--dark-blue);
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.github:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

  .cards_skills{
    display: none!important;
  }
}

@media (min-width:767px) {

  #carousel_skills{
    display: none!important;
  }
}
/* Fin de la partie FOOTER */