@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
:root{
--light-blue :  #8FA6CD;
--dark-blue : #413F6C;
--light-pink : #FFDDD2;
--dark-pink : #E3928B;
--bg-txt : #EDE8DA; 
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

/* Création de la NAVBAR */
.navbar {
  opacity: 1; 
  background: #FFF;
}

.navbar-brand{
  color: var(--dark-blue)!important;
}

.nav-link{
  color: var(--dark-blue)!important;
}

.nav-link:hover{
  color: var(--dark-pink)!important;
}

.logo_img {
  width: 70px;
}
/* Fin de la NAVBAR */


/* Création du HEADER */
.header{
  display: flex;
  flex-direction: row;
  background: var(--light-blue);
  width: 100%;
  height: 40vw;
}

.header_txt{
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header_h1 {
  font-family: 'Pacifico';
  font-size: 7vw;
  color: var(--dark-blue);
}

.header_h2 {
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  color: var(--bg-txt);
}

.header_img{
  display: flex;
  align-items: center;
  width: 35vw;
  height: 35vw;
  margin: auto;
}

@media(max-width: 576px){
  .header{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 80vw;
  }
  
  .header_txt{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .header_h1 {
    font-size: 7vw;
    margin-top: 15px;
  }
  
  .header_h2 {
    font-size: 5vw;

  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 40vw;
    height: 40vw;
    margin: auto;
  }
  
}
@media(min-width: 576px) and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38vw;
  }
  
  .header_txt{
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1 {
    font-size: 6vw;
  }
  
  .header_h2 {
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
  }
  
}
@media(min-width: 768px) and (max-width: 992px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1 {
    font-size: 7vw;
  }
  
  .header_h2 {
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
  }
  
}
@media(min-width : 992px) and (max-width: 1200px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1 {
    font-size: 8vw;
  }
  
  .header_h2 {
    font-size: 4vw;
  }
  
  .header_img{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
  }
  
}
/* Fin du HEADER */


/* Création de la partie BODY */
/* Fin de la partie BODY */

/* Création de la partie PRESENTATION */
.bloc_about {
  top: -2vw;
  margin: 0 auto;
  width: 500px;
}

.presentation {
  width: 500px;
}


@media (max-width: 575.98px){

}

@media (min-width: 768px){

}

@media(min-width: 992px){

}

@media(min-width: 1200px)
/* Fin de la partie PRESENTATION */


/* Création de la partie COMPETENCES */
.competences {
  height: 700px;
}

.skill {
  position: relative;
  top: 200px;
}

.skills_h3 {
  justify-content: center;
  margin: 0 auto;
  width: auto;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.cards_skills{
  display: flex;
 
}

.skills {
  box-shadow: 5px 5px 5px #6C7784;
}

.skill_img {
  border-radius: 50%;
  width: 30%;
  margin: 10px auto;
}

.skills_detail {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
}
/* Fin de la partie COMPETENCES */


/*Création de la partie loeading skills*/
.skill_load {
  height: 20px;
  width: 500px;
  position: absolute;
  top: 12px;
  left: 50px;
  right: 0;
  bottom: 0;
  list-style: none;
  padding: 0;
}

.loading {
  display: block;
  float: left;
  width: 50px;
  height: 10px;
  margin-right: 10px;
}

.start {
  display: block;
  float: left;
  width: 50px;
  height: 10px;
  margin-right: 10px;
}

.end {
  display: block;
  float: left;
  width: 50px;
  height: 10px;
  margin-right: 10px;
}

.start {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
    0px 0px 20px rgba(117, 182, 214, 0.5);
}

.end {
  box-shadow: inset 0px 0px 10px 1px rgba(117, 182, 255, 0.4),
    0px 0px 20px rgba(117, 182, 255, 0.1);
}

.loading {
  -webkit-animation: pulse 1s alternate infinite;
  -moz-animation: pulse 1s alternate infinite;
}

@-webkit-keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 40px 2px rgba(105, 135, 255, 1);
  }

  100% {
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 30px 2px rgba(105, 135, 255, 0.3);
  }
}

@-moz-keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 40px 2px rgba(105, 135, 255, 1);
  }

  100% {
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 30px 2px rgba(105, 135, 255, 0.3);
  }
}

h5 {
  color: white;
}
/*Fin de la partie loeading skills*/


/* Création de la partie DOWNLOAD CV */
.download {
  width: 40%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}

.dowl_ttl {
  color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}
/* Fin de la partie DOWNLOAD CV */

/* Création de la partie PROJETS */
.projets_h3 {
  position: relative;
  text-align: center;
  margin: 200px auto 100px auto;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.carousel_row {
  width: 100%;
  padding: 20px;
}

.carousel-caption {
  background-color: rgba(108, 117, 125, .5);
}

.lien_projet {
  width: 146px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}


.projet2_txt_row {
  height: 250px;
  width: 600px;
}

.slide_projet2 {
  height: 40px;
  width: 800px;        
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}

.projet3_txt_row {
  height: 250px;
  width: 600px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.slide_projet3 {
  height: 40px;
  width: 800px;
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}
/* Fin de la partie PROJETS */

/* Création de la partie CONTACT */
.contact_h3 {
  position: relative;
  text-align: center;
  margin: 200px auto 100px auto;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
/* Fin de la partie CONTACT */

/* Création du FORM */
.modal-dialog{
  max-width: 1200px!important;
}

.form-control {
  width: 600px;
  margin-bottom: 2rem;
  padding: 2.2rem;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  border: 2px solid transparent;
  font-family: Verdana, Arial, sans-serif;
}

.form-control::placeholder {
  color: #9da1a5;
  font-weight: bold;
}

.message {
  resize: vertical;
  min-height: 15rem;
  height: 200px;
  width: 800px;
}

.form-control:focus,
.message:focus {
  outline: none;
  border: 2px solid var(--accent);
}

@media (min-width: 700px) {
  form {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .form-control {
    width: auto;
    margin: 0;
  }

  .message {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
/* Fin du FORM */


/* Création de la partie FOOTER */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

  .cards_skills{
    display: none!important;
  }
}

@media (min-width:767px) {

  #carousel_skills{
    display: none!important;
  }
}
/* Fin de la partie FOOTER */