@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

:root{
--light-blue :  #8FA6CD;
--dark-blue : #413F6C;
--light-pink : #FFDDD2;
--dark-pink : #E3928B;
--bg-txt : #E2E8C5; 
}

body{
  margin: 0;
  padding: 0;
}

.container{
  margin: 0;
  padding: 0;
}

/* Création de la NAVBAR */
.navbar{
  opacity: 1; 
  background: #FFF;
}

.navbar-brand{
  color: var(--dark-blue)!important;
}

.nav-link{
  color: var(--dark-blue)!important;
}

.nav-link:hover{
  color: var(--dark-pink)!important;
}

.logo_img{
  width: 70px;
}
/* Fin de la NAVBAR */


/* Création du HEADER */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(252, 252, 252);
  width: 100%;
  height: 35vw;
}

.header_txt{
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header_h1{
  font-family: 'Pacifico';
  font-size: 5vw;
  color: var(--dark-blue);
}

.header_h2{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  color: var(--dark-pink);
}

.header_img{
  display: flex;
  justify-content: end;
}

@media(max-width: 576px){
  .header{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 50vw;
  }
  
  .header_txt{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .header_h1{
    font-size: 50px;
    margin-top: 15px;
  }
  
  .header_h2{
    font-size: 25px;

  }
  
  .header_img{
    display: none;
  }
  
}
@media(min-width: 576px) and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38vw;
  }
  
  .header_txt{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 50px;
  }
  
  .header_h2{
    font-size: 30px;
  }
  
  .header_img{
    display: none;
  }
  
}
@media(min-width: 768px) and (max-width: 992px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 47px;
  }
  
  .header_h2{
    font-size: 25px;
  }
  
  .header_img{
    display: flex;
  }
  
}
@media(min-width : 992px) and (max-width: 1200px){
  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vw;
  }
  
  .header_txt{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .header_h1{
    font-size: 60px;
  }
  
  .header_h2{
    font-size: 30px;
  }
  
  .header_img{
    display: flex;
  }
  
}
/* Fin du HEADER */

/* Création de la partie BODY */
/* Création de la partie PRESENTATION */
.bloc_about{
  top: -2vw;
  margin: 0 auto;
  width: 500px;
}

.presentation{
  width: 500px;
  font-family: 'Roboto';
}


@media (max-width: 576px){
  .bloc_about {
    top: -2vw;
    width: 100%;
  }
  
  .presentation{
    width: 100%;
  } 
}

@media (min-width: 576px) and (max-width: 768px){
  .bloc_about {
    top: -1vw;
    margin: 0 auto;
    width: 500px;
  }
}
/* Fin de la partie PRESENTATION */

/* Création de la partie DOWNLOAD CV */
.voir_cv {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 15px
}

.btn{
  margin: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.btn_txt {
  font-weight: 600;
  color: var(--dark-blue);
  text-transform: uppercase;
  padding: 15px 2em;
  background: var(--light-pink);
  border: 2px solid var(--dark-blue);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.btn_txt::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--light-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.btn_txt:hover {
  background: var(--dark-pink);
  transform: translate(0, 0.25em);
}
button.btn_txt:hover::before {
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.5em, -1em);
}
/* Fin de la partie DOWNLOAD CV */

/* Création de la partie A PROPOS */
.about{
  width: 100%;
}

.a_propos{
  flex-direction: row;
}

.about_h3{
  justify-content: center;
  margin: 300px auto 90px auto;
  width: auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-blue);
}

.about_img{
  max-width: 80%;
  margin: auto;
}

.about_txt{
  width: 40%;
  font-family: 'Roboto';
  font-size: 20px;
  border-left: 1px solid var(--dark-pink);
  margin: auto;
  padding-left: 50px;;
  color: var(--dark-blue);
}

@media (max-width: 576px){
  .a_propos{
    flex-direction: column;
  }

  .about_h3{
    margin: 350px auto 10px auto;
    font-size: 50px;
  }

  .about_img{
    max-width: 30%;
    margin: auto;
  }

  .about_txt{
    border-left: 0px;
    width: 80%;
    font-size: 20px;
    margin: auto;
    padding-top: 50px;
    padding-left: 0px;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .a_propos{
    flex-direction: column;
  }

  .about_h3{
    margin: 300px auto 10px auto;
    font-size: 50px;
  }

  .about_img{
    max-width: 30%;
    margin: auto;
  }

  .about_txt{
    border-left: 0px;
    width: 80%;
    font-size: 20px;
    margin: auto;
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .a_propos{
    flex-direction: column;
  }

  .about_h3{
    margin: 300px auto 10px auto;
    font-size: 50px;
  }

  .about_img{
    max-width: 30%;
    margin: auto;
  }

  .about_txt{
    border-left: 0px;
    width: 80%;
    font-size: 20px;
    margin: auto;
    padding-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .about_h3{
    margin: 300px auto 10px auto;
    font-size: 60px;
  }

  .about_img{
    max-width: 50%;
    margin: auto;
  }

  .about_txt{
    width: 80%;
    font-size: 20px;
  }
}
/* Fin de la partie A PROPOS */

/* Création de la partie COMPETENCES */
.competences{
  height: 100%;
}

.skill{
  position: relative;
  top: 150px;
}

.skills_h3{
  justify-content: center;
  margin: 0px auto 90px auto;
  width: auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-blue);
}

/* Partie du carousel */
.carousel_skills{
  display: none;
}

/* Partie des cards skills */
.cards_skills{
  display: flex;
}

.skills{
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  margin-left: 3rem;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.skills:hover{
  background-image: linear-gradient(to top, #bdc2e8 0%, #ebbfeba8 1%, #f6eff8 100%);
}

.skills:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 14px;
  transition-timing-function: ease-in-out;
  transition-property: right;
  transition-duration: 0.3s;
}

.skill_ttl{
 color: var(--dark-blue)
}

.skill_img{
  display: flex;
  width: 80%;
  height: 180px;
  margin: 0 auto;
}

.skills_detail{
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
}

.logo_skills{
  width: 70px;
}

.img_competence{
  display: flex;
  margin: -20px auto;
}

@media (max-width: 576px){
  .skill{
    top: 10px
  }

  .skills_h3{
    font-size: 47px;
  }

  .cards_skills{
    display: none;
  }

  .carousel_skills{
    display: block;
    position: relative;
  }

  .carousel-item{
    margin: auto;
  }

  .skills{
    margin: auto;
    width: 75%;
    box-shadow: 5px 5px 5px rgba(128, 29, 148, 0.247);
  }
  
  .skill_img{
    display: none;
  }

  .img_competence{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .skill{
    position: relative;
  }

  .skills{
    margin: auto;
    width: 75%;
  }

  .cards_skills{
    display: none;
  }

  .skill_img{
    display: none;
  }

  .carousel_skills{
    display: flex;
  }

  .img_competence{
    display: none;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .cards_skills{
    display: flex;
  }

  .skills{
    margin-right: .5rem ;
    margin-left: .5rem ;
  }

  .skill_img{
    height: 150px;
  }

  .skill_load{
    left: 60px;
  }

  .logo_skills{
    width: 40px;
  }

  .carousel_skills{
    display: none;
  }

  .img_competence{
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .cards_skills{
    display: flex;
  }

  .skills{
    margin-right: 1rem ;
    margin-left: 1rem ;
  }
  
  .skill_img{
    height: 200px;
  }

  .carousel_skills{
    display: none;
  }

  .img_competence{
    display: flex;
    width: 90%;
  }

} 
/* Fin de la partie COMPETENCES */

/* Création de la partie PROJETS */

.projets{
  position: relative;
  background-image: url("/images/bg_bulles.png");
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;  
}

.projets_h3 {
  position: relative;
  text-align: center;
  margin: 100px auto 30px auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-blue);
}

/* Partie des cards */
.card_container{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card_container .card{
  position: relative;
  max-width: 300px;
  height: 500px;
  background: rgba(180, 178, 192, 0.1);
  margin: 50px 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(3, 3, 3, 0.5);
  transition: 0.3s ease-in-out;

}

.card_container .card:hover{
  background: rgba(46, 30, 131, 0.1);
  box-shadow: 0 5px 20px rgba(90, 59, 231, 0.5);
}

.card_container .card .box_img{
  position: relative;
  width: 90%;
  height: 90%;
  top: -15px;
  margin: auto;
  z-index: 1;
}

.card_container .card .box_img img{
  max-width: 100%;
  border-radius: 4px;
}

.card_container .card .box_content{
  position: relative;
  padding: 10px 15px;
  text-align: center;
}

.card_container .card .box_content h3{
  color: var(--light-blue)
}

.card_container .card .box_content p{
  color: var(--dark-blue)
}

.card_container .card .box_content .learn-more{
  height: 45px;
  padding: 1px 1em;
}

@media (max-width: 576px){
  .projets{
    top: 20px;
  }

  .card_container .card{
    height: 290px;
  }

  .card_txt{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .projets{
    top: 150px;
  }

  .card_container .card{
    height: 345px;
  }

  .card_txt{
    display: none;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .projets{
    top: 150px;
  }

  .card_container .card{
    height: 345px;
  }

  .card_txt{
    display: none;
  }
}
.btn{
  margin: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-weight: 600;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-size: 13px;
  padding: 15px 2em;
  background: var(--light-pink);
  border: 2px solid var(--dark-blue);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--light-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: var(--dark-pink);
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px var(--dark-blue);
  transform: translate3d(0, 0.5em, -1em);
}
/* Boutons pour les projets */



/* Fin de la partie PROJETS */

/* Création de la partie CONTACT */
#contact {
  width: 100%;
  height: 700px;
  background-color: #000;
  overflow: hidden;
  background-image: linear-gradient(to top, var(--dark-blue) 0%, #fff 100%);
  margin-top: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto 150px auto;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: var(--dark-blue);
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/*Contact Page - Gauche */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 100%;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/*Contact Page Droite */
.direct-contact-container {
  display: flex;
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: var(--dark-blue);
}

.contact-text {
  font: 300 18px 'Roboto', sans-serif;
  letter-spacing: 1.9px;
  color: var(--dark-blue);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: var(--dark-blue);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--light-pink);
  text-decoration: none;
}

@media(max-width: 992px) {
  #contact{
    margin-bottom: -210px;
  }
}

@media screen and (max-width: 760px) {
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
}

@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/* Fin de la partie CONTACT */
/* Fin de la partie BODY */

/* Création de la partie FOOTER */
.site-footer {
  position: relative;
  background-color: var(--dark-blue);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.bg_logo{
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 333px;
 
  z-index: -2;
}

.site-footer hr {
  border-top-color: var(--dark-pink);
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: var(--light-blue);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: var(--dark-pink);
}

.site-footer a:hover {
  color: var(--dark-pink);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: var(--light-blue)
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--light-pink);
  color: var(--dark-blue);
}

.copyright-text {
  margin: 0
}

@media(max-width: 576px){
  .site-footer{
    top: 200px;
  }

  .bg_logo{
    bottom: 320px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media(min-width: 576px) and (max-width: 768px){
  .site-footer{
    top: 150px;
  }

  .bg_logo{
    bottom: 345px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .site-footer{
    top: 150px;
  }

  .bg_logo{
    bottom: 270px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .bg_logo{
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.github:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

  .cards_skills{
    display: none!important;
  }
}

@media (min-width:767px) {

  #carousel_skills{
    display: none!important;
  }
}
/* Fin de la partie FOOTER */